*					text eol=lf
src/Readmerator.php	export-ignore
tests				export-ignore
.editorconfig		export-ignore
.gitattributes		export-ignore
.gitignore			export-ignore
phpstan.dist.neon	export-ignore
phpunit.xml.dist	export-ignore
